<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% if request.user.is_authenticated %} <br />
    <a href="{% url 'accounts:logout' %}">로그아웃</a>
    {% else %}
    <a href="{% url 'accounts:login' %}">로그인</a>
    <a href="{% url 'accounts:signup' %}">회원가입</a><br /><br />
    {% endif %}
    <br /><br />
    <hr />
    <h2>글 작성</h2>
    <form method="POST" action="{% url 'post:create' %}">
      {% csrf_token %} 제목 - <input type="text" name="title" /> <br /><br />
      내용 - <textarea name="content"></textarea>
      <input type="checkbox" name="anonymity" /> 익명<br /><br />
      <input type="submit" value="작성하기" />
    </form>
    <hr />
    {% for post in posts %}
    <h2><a href="{% url 'post:detail' post.id %}">{{ post.title }}</a></h2>
    <p>{{ post.content }}</p>
    <p>{{ post.created_at|naturaltime }}</p>

    {% empty %} 작성된 글이 없습니다. {% endfor %}
  </body>
</html>
