<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>연락처 실습 메인 페이지</h2>
    <hr />
    <br />
    <form action="{% url 'result' %}">
      <input type="text" name="name" cols="20" rows="1" />
      <input type="submit" value="검색" />
    </form>
    {% for post in phones %}
    <h2>이름 : {{ post.name }}</h2>
    <p>전화번호 : {{ post.phone_num }}</p>
    <p>
      <a href="{% url 'detail' post.id %}">

      </a> {{ post.name }} - {{ post.phone_num }}</a
      >
      <a href="{% url 'update' post.id %}">수정</a>
      <a href="{% url 'delete' post.id %}">삭제</a>
    </p>

    {% empty %} 저장된 연락처가 없습니다. {% endfor %}
    <br />
    <a href="{% url 'create' %}"> 새 번호 추가</a>
  </body>
</html>
