<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="{% url 'result' %}">
      <textarea name="fulltext" cols="20" rows="1"></textarea>
      <input type="submit" value="검색" />
    </form>

    {% for phone in phones %}
    <h2>이름 : {{ phone.name }}</h2>
    <p>전화번호 : {{ phone.phone_num }}</p>

    {% empty %} 연락처가 없습니다. {% endfor %}
  </body>
</html>
